﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Movies2</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("NavPartial")
    <div class="pull-right">
        @await Component.InvokeAsync("PlayListSummary") 
    </div>
    <div class="row-panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavMenu")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>