﻿@model IEnumerable<string>

@{ 
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Language Features</title>
    </head>
    <body>
        <ul>
            @foreach(string s in Model)
            {
                <li>@s</li>
            }
        </ul>
    </body>
    </html>