﻿@model IEnumerable<Studio>

    <div class="panel-body">
        <h1>Studios</h1>

        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </tr>

                @foreach (Studio s in Model)
                {
                    <tr>
                        <td>@s.StudioName</td>
                        <td>@s.City</td>
                        <td>@s.State</td>
                        <td>@s.Country</td>
                    </tr>
                }
            </table>
    </div>