﻿@model IEnumerable<Order>

@{ 
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th colspan="2">Details</th>
            <th></th>
        </tr>
        @foreach (Order o in Model)
        {
            <tr>
                <td>@o.Name</td>
                <td>Movie</td>
                <td>Runtime</td>
                <td>
                    <form asp-action="MarkCompleted" method="post">
                        <input type="hidden" name="orderId" value="@o.OrderID"/>
                        <button type="submit" class="btn btn-sm btn-danfer">Fulfill</button>
                    </form>
                </td>
            </tr>
            @foreach (LineItem li in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@li.Movie.MovieName</td>
                    <td>@li.Movie.Runtime</td>
                    <td></td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="text-center">No Unfulfilled Orders</div>
}