﻿@model IEnumerable<Product>

@{ 
    Layout = null;
}
<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Working with visual studio</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
        <body class="panel-body">
            <h3 class="text-center">Products</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr><td>Name</td><td>Price</td></tr>
                </thead>
                <tbody>
                    @foreach (Product p in Model)
                    {
                        <tr>
                            <td>@p.Name</td>
                            <td>@($"{@p.Price:C2}")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-center">
                <a asp-action="AddProduct" class="btn btn-primary">Add New Product</a>
            </div>
        </body>
    </html>