﻿@model Movie

<div class="well">
    <h3>
        <strong>@Model.MovieName</strong>
        <span class="pull-right label label-primary">
            
            @Model.Runtime Minutes
        </span>
    </h3>
    <form id="@Model.MovieID" asp-action="AddToPlayList" asp-controller="PlayList" method="post">
        <input type="hidden" asp-for="MovieID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
           
                @Model.Genre
               
            
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Add To PlayList
            </button>
        </span>
    </form>
</div>