﻿@model Review

@{


    ViewBag.Title = "Add Review";
    Layout = "_Layout";



    List<SelectListItem> li = new List<SelectListItem>();

    li.Add(new SelectListItem() { Text = "1", Value = "1" });
    li.Add(new SelectListItem() { Text = "2", Value = "2" });
    li.Add(new SelectListItem() { Text = "3", Value = "3" });
    li.Add(new SelectListItem() { Text = "4", Value = "4" });
    li.Add(new SelectListItem() { Text = "5", Value = "5" });

}
@**@
<form asp-controller="Review" asp-action="PostReview" method="post">
    <input type="hidden" asp-for="ReviewId" />
    <input type="hidden" asp-for="MovieID" /> 

    <div class="form-group">
        <label asp-for="Reviewer">Name:</label>
        <div>

        </div>
        <input asp-for="Reviewer" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ReviewDesc">Comments:</label>
        <div>

        </div>
        <input asp-for="ReviewDesc" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="MovieRating">Score:</label>
        <div>

        </div>
       
        <input asp-for="MovieRating" class="form-control dropdown" />
    </div>

    <div class="text-center">
        
            <button  asp-for="MovieID" class="btn btn-primary" type="submit">Save</button>
            <a asp-action="Details"
               asp-route-movieId="@Model.MovieID" asp-controller="Movie" asp-for="MovieID" class="btn btn-default">
                Cancel
            </a>
    </div>
</form>
