﻿@model Review

@{ ViewBag.Title = "Thank You!";
    Layout = "_Layout";}
<div class="well">
    <h3>Thank You!</h3>
    <a asp-action="Details"
       asp-route-movieId="@Model.MovieID" asp-controller="Movie" asp-for="MovieID" class="btn btn-default">
        Back To Browsing
    </a>
    
</div>