﻿@model IEnumerable<Director>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Directors</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="panel-body">
            <h1>Movie Data Composite View</h1>
            @foreach (Director d in Model)
            {
                <h2>@d.Lastname, @d.Firstname</h2>

                <table class="table table-striped table-bordered" >
                    <tr>
                        <th>Movie Title</th>
                        <th>Movie Genre</th>
                        <th>Movie Length</th>
                        <th>Studio Name</th>
                        <th>Studio Country</th>
                    </tr>
                    @foreach (MovieDirector md in d.MovieDirectors)
                    {
                        <tr>
                            <td>@md.Movie.MovieName</td>
                            <td>@md.Movie.Genre</td>
                            <td>@md.Movie.RunTime Minutes</td>
                            <td>@md.Movie.Studio.StudioName</td>
                            <td>@md.Movie.Studio.Country</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </body>
    </html>