﻿@model IEnumerable<string>

<a class="btn btn-block btn-default" asp-action="List" asp-controller="Movie" asp-route-genre="">
    Home
</a>
<a class="btn btn-block btn-default" asp-action="List" asp-controller="Movie" asp-route-genre="">
    Browse By Popularity
</a>

@foreach (string Genre in Model)
{
    <a class="btn btn-block @(Genre == ViewBag.SelectedGenre ? "btn-primary": "btn-default")" asp-action="List" asp-controller="Movie" asp-route-genre="@Genre" asp-route-page="1">
       @Genre
    </a>
}