﻿@model Order

<h2>Checkout</h2>
<p>
    Enter Order Details to complete your purchase
</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Address:</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label>State:</label>
        <input asp-for="State" class="form-control" />
    </div>

    <div class="form-group">
        <label>City:</label>
        <input asp-for="City" class="form-control" />
    </div>

    <div class="form-group">
        <label>ZIP:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Proceed with Purchase"/>
            
        
    </div>
</form>