﻿@model IEnumerable<CD_Tracker.Models.CD>

@{ 
    Layout = null;
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>CDs</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="panel-body">
            <div class="text-center">
                <h1>My CD Portfolio</h1>
            </div>
            <a asp-action="AddCD">Add a CD</a>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Bank</th>
                        <th>Term(Months)</th>
                        <th>Rate</th>
                        <th>Purchase Date</th>
                        <th>Maturity Date</th>
                        <th>Deposit Amount</th>
                        <th>Value at Maturity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CD_Tracker.Models.CD c in Model)
                    {
                        <tr>
                            <td>@c.Bank</td>
                            <td>@c.Term</td>
                            <td>@c.Rate</td>
                            <td>@c.Start.ToString("d")</td>
                            <td>@c.Finish.ToString("d")</td>
                            <td>$@c.Deposit</td>
                            <td>$@c.MatureValue.ToString("#####.##")</td>
                        </tr>





                    }
                </tbody>
            </table>
        </div>
    </body>
    </html>