﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SportsStore</title>
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>


    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NVM")
        </div>

        <div class="col-xs-8">
        @RenderBody()
        </div>
    </div>
</body>
</html>