﻿@model PlayListIndexViewmodel

    <h2>Your PlayList</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>

                <th class="text-right"> RunTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach(LineItem lineItem in Model.PlayList.Lines)
            {
                <tr>
                    <td class="text-left">@lineItem.Movie.MovieName</td>
                    <td class="text-left">@lineItem.Movie.Genre</td>
                    <td class="text-right">@lineItem.Movie.Runtime</td>
                    <td>
                        <form asp-action="RemoveFromPlayList" method="post">
                            <input type="hidden" name="movieId" value="@lineItem.Movie.MovieID" />
                            <input type="hidden" name="returnURL" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">PlayList RunTime</td>
                <td class="text-right">@Model.PlayList.ComputeQueueRuntime() Minutes</td>
            </tr>
        </tfoot>
    </table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Back To Browsing</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">
        Add To Digital Collection
    </a>
</div>