﻿@model MovieListViewModel

<div class="panel-body">
    <h1>Movies</h1>

    <!-- <table class="table table-striped table-bordered">
         <tr>
             <th>Title</th>
             <th>Genre</th>
             <th>Length</th>
             <th>Release</th>


         </tr>
         @foreach (Movie m in Model.Movies)
         {

     <tr>
         <td> <a asp-action="Details" 
                       asp-route-movieId="@m.MovieID">@m.MovieName</a></td>
         <td>@m.Genre</td>
         <td>@m.Runtime Minutes</td>
         <td>@m.Release</td>




     </tr>

         }
     </table>
        -->
    @foreach (Movie m in Model.Movies)
    {
        @Html.Partial("MoviePartial", m)
    }

</div>
<div page-model="@Model.PagingViewModel" page-action="List"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-default"
     page-class-selected="btn-primary" class="btn-group pull-right"></div>