﻿@model MovieDetailViewModel
@*
    todo: 1.turn movie title in List view into link X
          2.route link to redirect to this view X
          3.retieve details of selected movie & display them here X
          4.Add Description property to movie model
          5.retieve description of selected movie & display it here
          6.Add movie trailer link property to movie model
          7.embed youtube video of movie trailer in this page using trailer link

*@
@{
    ViewBag.Title = "Details";
    Layout = "_DetailsLayout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div class="well">
        <h1> @Model.Movie.MovieName</h1>
        <br />
        <form id="@Model.Movie.MovieID" asp-action="AddToPlayList" asp-controller="PlayList" method="post">
            <input type="hidden" asp-for="Movie.MovieID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="lead">


                <button type="submit" class="btn btn-success btn-sm pull-right">
                    Add To PlayList
                </button>
            </span>
        </form>
        @*<form id="@Model.MovieID" asp-action="WriteReview" asp-controller="Review" method="post">
                <input type="hidden" asp-for="MovieID" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <span class="lead">


                    <a asp-action="WriteReview" type="submit" class="btn btn-success btn-sm ">
                        Write a review
                    </a>
                </span>

            </form>*@

        <br />
        @Model.Movie.Description
        <br />
        <strong>Release Date: </strong> @Model.Movie.Release
        <br />
        <br />
        <strong>Genre: </strong> @Model.Movie.Genre
        <br />
        <br />
        <strong>Duration: </strong>@Model.Movie.Runtime Minutes
        <br />
        <br />
        <iframe width="560" height="315"
                src="@Model.Movie.TrailerLink" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay;
                clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <br />
        <a asp-action="WriteReview"
           asp-route-movieId="@Model.Movie.MovieID" asp-controller="Review" asp-for="MovieID">Review This Film</a>
    </div>

    <div class="panel-body">
        @foreach (Review r in Model.Reviews)
        {
            @Html.Partial("ReviewListPartial", r)
        }
    </div>
</body>
</html>
