﻿@model Review


<div class="well">
    
       

            By: @Model.Reviewer
            <br />
            @Model.MovieRating /5
            <br />
            <br />
            @Model.ReviewDesc
            
      
    
    
</div>