﻿@model IEnumerable<Repeater>

@{ 
   
    ViewBag.Title = "Repeater Name";
}
    <div  data-qth="@ViewBag.QTH">
    
        <table>
            <thead>
                <tr>
                    
                    <th>Name</th>
                    
                    <th>Uplink Frequency</th>
                    
                    <th>Downlink Frequency</th>
                    
                    <th>PL Tone</th>
                    
                    <th>Distance From Me</th>
                    
                    <th>Can Hear</th>
                    
                    <th>Can Key</th>
                    
                    <th>Operational</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Repeater r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.UplinkFreq</td>
                        <td>@r.DownlinkFreq</td>
                        <td>@r.PLTone</td>
                        <td>@($"{r.DistanceFromMe} Miles")</td>
                        <td>@r.CanHear</td>
                        <td>@r.CanKey</td>
                        <td>@r.Operational</td>
                    </tr>
                }
            </tbody>
            
        </table>
        <p> @ViewBag.QTH</p> 
    </div>
    