﻿@model PlayList

<div class="" >
    @if(Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your PlayList:</b>
            @Model.Lines.Count() movie(s)
            @(Model.ComputeQueueRuntime()) Minutes
        </small>
    }
    <a class="btn btn-sm btn-default navbar-btn" asp-controller="PlayList" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-play"></i>

    </a>
</div> 