﻿@model IEnumerable<Movie>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Movies</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="panel-body">
            <h1>Movies</h1>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Name</td>
                    <td>Genre</td>
                    <td>RunTime</td>
                    <td>Release Date</td>
                </tr>
                @foreach (Movie m in Model)
                {
                    <tr>
                        <td>@m.MovieName</td>
                        <td>@m.Genre</td>
                        <td>@m.RunTime Minutes</td>
                        <td>@m.ReleaseDate</td>
                    </tr>
                }
            </table>
        </div>
    </body>
    </html>