﻿@model Movie

@{ 
    ViewBag.Title = "Edit Movie";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="MovieID" />
    <div class="form-group">
        <label asp-for="MovieName"></label>
        <div>
            <span asp-validation-for="MovieName"></span>
        </div>
        <input asp-for="MovieName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <div>

        </div>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TrailerLink"></label>
        <div>

        </div>
        <input asp-for="TrailerLink" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Release"></label>
        <div>
            <span asp-validation-for="Release"></span>
        </div>
        <input asp-for="Release" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Runtime"></label>
        <div>
            <span asp-validation-for="Runtime"></span>
        </div>
        <input asp-for="Runtime" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Genre"></label>
        <div>
            <span asp-validation-for="Genre"></span>
        </div>
        <input asp-for="Genre" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>

</form>