﻿@model IEnumerable<Movie>

@{ 
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}

<table  class="table table-striped table-bordered table-condensed" >
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-right">Runtime</th>
        <th class="text-right">Action</th>
    </tr>
    @foreach(Movie m in Model)
    {
        <tr>
            <td class="text-right">@m.MovieID</td>
            <td>@m.MovieName</td>
            <td class="text-right">@m.Runtime</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-movieId="@m.MovieID">Edit</a>
                    <input type="hidden" name="MovieId" value="@m.MovieID" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form> 
            </td>
        </tr>
    }

</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Movie</a>
</div>